.root {
  .main {
    margin: 24px auto;
    max-width: 1300px;
    padding: 24px;
  }
  .title {
    border-bottom: 2px #dddddd solid;
    font-size: 24px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1300px;
    overflow: hidden;
    justify-content: center;
  }
  .item {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 16px;
    padding: 8px 16px;
    width: min(90%, 600px);
    max-width: 600px;
    background: #fafaff;

    &:hover {
      border: #a0a0e0 solid 1px;
    }
    cursor: pointer;
    position: relative;
    display: inline-flex;
    height: 128px;
    border: #dddddd solid 1px;
    border-radius: 16px;
    :nth-child(2) {
      flex: 1;
      overflow: hidden;
    }
    .image {
      display: flex;
      align-items: center;
      justify-items: center;
      font-size: 64px;
      margin-right: 16px;
    }
    .title {
      display: -webkit-box;
      overflow: hidden;
      margin: 16px 0;
      font-size: 24px;
      font-weight: bold;
      white-space: normal;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .hidden {
    background: #f0f0f0;
  }
}
