.root {
  width: 100%;
  > * {
    display: block;
    cursor: pointer;
    border-radius: 8px;
    padding: 24px;
    margin: 16px 0;
    font-size: 24px;
    background: #f5f5ff;

    &:hover {
      background: #eeeeff;
    }
  }
}
