.root {
  padding: 16px;
  .edit {
    cursor: pointer;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba($color: #888888, $alpha: 0.3);
    border: #dddddd solid 1px;
    padding: 8px;
    border-radius: 8px;
    color: black;
  }
}
