import React, { FC } from 'react'
import styled from './{{{NAME}}}.module.scss'

interface Props {}

/**
 * {{{NAME}}}
 *
 * @param {Props} { }
 */
export const {{{NAME}}}: FC<Props> = ({}) => {
  return <div className={styled.root}>テスト</div>
}
