.root {
  .contents {
    border-left: #dddddd 1px solid;
    border-right: #dddddd 1px solid;
    padding: 0 16px;
    max-width: 1024px;
    min-width: 512px;
  }

  .date {
    text-align: right;
  }
}
