.root {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 8px;
	margin-bottom: 128px;

	.title {
		text-align: center;
		border-bottom: 2px lightgray solid;
		padding: 4px;
	}
	.split {
		flex: 1;
		box-sizing: border-box;
		flex-direction: row-reverse;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
	}
	.contents {
		box-sizing: border-box;
		border: #dddddd 2px solid;
		border-radius: 8px;
		padding: 0 16px;
		width: clamp(0px, 1000px, 90%);
		background: white;
		z-index: 1;
		line-height: 1.5;
		a,
		a:visited {
			color: blue;
			text-decoration: underline;
		}
	}
}
