.root {
  margin-bottom: 16px;
  position: sticky;
  top: 72px;
  .box {
    box-sizing: border-box;
    max-height: calc(100vh - 120px);
    margin: 8px;
    overflow-y: auto;
    width: 360px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px #dddddd88;
    .title {
      font-weight: bold;
      text-align: center;
      line-height: 32px;
    }
    > .item {
      color: black;
      text-decoration: none;
      border-bottom: solid 1px transparent;
      display: block;
      margin-bottom: 8px;
      cursor: pointer;
      &:hover {
        border-bottom: solid 1px gray;
      }
      li {
        margin-left: 1.4em;
        text-indent: -1.4em;
      }
    }
  }
}
