.root {
  padding: 8px;
  margin-bottom: 16px;
  position: sticky;
  top: 80px;
  .box {
    width: 360px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 8px #dddddd88;
    .title {
      font-weight: bold;
      text-align: center;
      line-height: 32px;
    }
    > .item {
      color: black;
      text-decoration: none;
      border-bottom: solid 1px transparent;
      display: block;
      margin-bottom: 8px;
      cursor: pointer;
      &:hover {
        border-bottom: solid 1px gray;
      }
    }
  }
}
